.form {
  width: 100%;
  background-color: transparent;
  padding: 0 10px;
}

.opened {
  display: block;
}

.closed {
  display: none;
}

.textInput {
  width: 100%;
  resize: none;
  min-height: 100px;
  background-color: #515051;
  color: inherit;
  font-size: 14px;
  padding: 5px;
  border: none;
  margin-bottom: 10px;
}

.textInput:focus {
  outline: none;
}

.formButtonsWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.submitForm {
  min-width: 70%;
  padding: 5px;
  background-color: #616062;
  border: none;
  min-height: 30px;
  color: inherit;
  font-size: inherit;
  line-height: 1;
  cursor: pointer;
}

.closeForm {
  padding: 0;
  width: 30px;
  /* height: min-content; */
  font-size: 40px;
  font-weight: 400;
  line-height: .6;
  cursor: pointer;
  color: inherit;
  transform: rotate(45deg);
  background-color: transparent;
  border: none;
}

.submitForm:hover,
.closeForm:hover {
  opacity: .5;
}

